/* Estilo CSS para formulario.html */
:root {
  --hover-color: #C2B9A5;
  --font-Esc: #262323;
  --botao: #3E537A;
  --nuvem: #C2B9A5;
  --fundo-escuro: #3E537A;
  --fundo-medio: #5977AE;
  --fundo-claro: #C2D3F2;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(--fundo-escuro);
  background-color: var(--fundo-medio);
  background-size: cover;
  height: 100vh;
}

label,
p,
b {
  color: var(--fundo-escuro);
}

/* Toda caixa azul clara do formulário */
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--fundo-claro);
  padding: 25px;
  margin: 10px auto;
  border-radius: 15px;
  width: 40%;
}

fieldset {
  border: 3px solid var(--fundo-claro);
}

/* Campo "Cadastro de Usuário" */
legend {
  border: 5px solid var(--fundo-claro);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  background-color: var(--fundo-medio);
}

/* Fonte "Cadastro de Usuário" */
legend b {
  color: white;
  font-size: 24px;
}

.inputBox {
  position: relative;
}

/* características da fonte digitada nos campos */
.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: var(--fundo-escuro);
  font-size: 14px;
  width: 100%;
  padding: 3px;
}

/* Título dos Campos */
.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 0.5s;
  color: var(--fundo-escuro);
}

/* Título dos Campos APÓS CLICADO */
.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
  top: -20px;
  font-size: 14px;
  color: white;
}

/* Dividindo o campo senha em duas partes na mesma linha*/
#senha1 {
  width: 45%;
  padding-right: 10%;
  float: left;
}
#senha2 {
  width: 45%;
  float: right;
}
/* Dividindo o campo Cidade e Estado em duas partes na mesma linha*/
#city {
  width: 45%;
  padding-right: 5%;
  float: left;
}
#uf {
  width: 45%;
  float: right;
}
select#uf {
  width: 55%;
}

.labFoto {
  margin-top: 10px;
  margin-bottom: 5px;
}

#foto {
  width: auto;
  color: var(--fundo-escuro);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 100%;
  box-shadow: inset 0px 0px 0 rgba(0, 0, 0, 0.2),
    inset 0 -1px 0 rgba(255, 255, 255, .25),
    inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .5);
  background-color: rgba(0, 0, 0, 0.15);
}

/* Fonte */
#data_nascimento {
  border: none;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  color: var(--fundo-escuro);
}

#botao {
  background: var(--fundo-escuro);
  text-align: center;
  width: 10%;
  border: none;
  padding: 10px;
  margin: 1%;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 15px;
}

#botao:hover {
  background: var(--nuvem);
  box-shadow: 0.3em 0.3em 0.3em #999;
}

#submit {
  background-image: linear-gradient(to right,
      var(--fundo-escuro),
      var(--fundo-medio));
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

#submit:hover {
  background: var(--nuvem);
  box-shadow: 0.3em 0.3em 0.3em #999;
}

@media (max-width: 1000px) {

  .tela {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .botao {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 1;
  }

  .box {
    margin: 0;
    width: 90%;
    padding-bottom: 10px;
  }
}