/* Estilo CSS para a página index.php */

/* =========== Estilo Geral ===========*/
:root {
    --hover-color: #C2B9A5;
    --font-Esc: #262323;
    --botao: #3E537A;
    --nuvem: #C2B9A5;
    --fundo-escuro: #3E537A;
    --fundo-medio: #5977AE;
    --fundo-claro: #C2D3F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100%;
    background: #fafafa;
    position: relative;
}

/* ========= Estilo do menu =========*/
.navbar {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #d5ccbd;
    display: flex;
}

nav .navbar {
    display: flex;
    /* flex para dividir o menu em 3 partes horizontais */
    justify-content: space-around;
    padding: 2px;
}

/* As 3 partes do menu são: */
.navEsq,
.navCentro,
.navDir {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* logo WeCode */
.navEsq h1 {
    margin: 0;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: var(--fundo-escuro);
}

/* .item são todos os ícones do menu */
.item {
    position: relative;
}

/* Efeito para aparecer a legenda dos ícones quando passar o mouse em cima */
.item:hover>.tooltip {
    opacity: 1;
}

/* Configuração das Legendas quando passa o mouse em cima dos ícones */
.tooltip {
    position: absolute;
    padding: 5px 5px;
    white-space: nowrap;
    left: 50%;
    top: 30px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--fundo-claro);
}

/* Configuração dos ícones */
.icon {
    font-size: 30px;
    position: relative;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
}

/* Cor dos ícones */
.icon a {
    color: var(--fundo-escuro);
}

/* Cor dos ícones quando passar o mouse em cima */
.icon a:hover {
    color: var(--fundo-claro);
}

.icon img {
    width: 50%;
    height: 50%;
    position: relative;
    cursor: pointer;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* FIM da Legenda / tooltip */

/* ========= Estilo da barra de pesquisa =========*/
.pesquisar-box {
    position: absolute;
    align-items: center;
    width: 200px;
    height: 30px;
    background: #fafafa;
    border: 1px solid #d5ccbd;
    border-radius: 2px;
    text-align: center;
    text-transform: capitalize;
}

.pesquisar-box::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

/* =========Estilo da sessão do status=========*/

/* Saudação ao usuário h1: Seja bem-vindo(a)! h2: $pessoa*/
.nomeuser h1,
.nomeuser h2 {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--fundo-medio);

}

/* $pessoa = Nome do Usuário */
.nomeuser h2 {
    text-transform: capitalize;
}

.principal-1 {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.involucro {
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
    padding: 1%;
}

.col-esquerda {
    display: flex;
    flex-direction: column;
}

.status-involucro {
    width: 100%;
    height: 150px;
    background: #fff;
    border: 1px solid #d5ccbd;
    border-radius: 2px;
    padding: 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-involucro::-webkit-scrollbar {
    display: flexbox;
}

.status-card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}


.status-card p {
    margin: 0;
}

.perfil-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, #d5ccbd, #6f89ae 80%);
}

.perfil-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}



.nomeUsuario {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5)
}



/* ========= Estilo da Sessao - Posts (coluna esquerda) =========*/

.principal-2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.publish {
    width: 450px;
    height: 280px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 0 6px #A1A1A1;

}

.publish textarea {
    width: 400px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 5px;
    border-width: 1px;
    border-color: #A1A1A1;
    padding-left: 5px;
    padding-top: 5px;
}

.publish .icon{
    margin-top: 10px;
    margin-left: 20px;
    width: 40px;
    cursor: pointer;
    padding: 0;
}

.publish input {
    width: 90px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background: #3E537A;
    color: #FFF;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    cursor: pointer;
}

.publish input:hover {
    background: #001f3f;
}


/* ========= Estilo da Sessao - Recomendações (coluna-direita) =========*/

.acao-btn {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #6f89ae;
    opacity: 1;
    font-weight: 900;
    margin-right: 20px;
}

.col-direita {
    width: 20%;
    padding: 20px;
    top: 100px;
    bottom: 100px;
    right: 200px;
    padding: 15px;
    position: fixed;
}

.perfil-ficha {
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: inherit;
    margin: 0px;
}

.perfil-ficha .acao-btn {
    display: flex;
    width: 100%;
    opacity: 1;
    font-size: 12px;
    margin: 0;
    justify-content: end;

}

.perfil-ficha .perfil-pic {
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.perfil-ficha:first-child .perfil-pic {
    width: 70px;
    height: 70px;
}

.perfil-ficha .perfil-pic img {
    border: none;
}

.perfil-ficha .nomeUsuario {
    font-size: 14px;
    color: #000;
    margin: 0;
}

.sub-texto {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 25px;
}



.sugestao-texto {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;
}

@media (max-width: 1100px) {

    .col-direita,
    .pesquisar-box {
        display: none;
    }

    .capsula,
    .involucro {
        width: 90%;

    }

    .involucro {
        display: block;
    }
}

@media (max-width: 500px) {
    .itens .icone {
        margin: 0 5px;
    }

    .publicar-imagem {
        height: 300px;
    }
}