/* Estilo CSS para a página login.php */
:root {
    --hover-color: #C2B9A5;
    --font-Esc: #262323;
    --botao: #3E537A;
    --nuvem: #C2B9A5;
    --fundo-escuro: #3E537A;
    --fundo-medio: #5977AE;
    --fundo-claro: #C2D3F2;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {

    /* background: url(../img/fundo.jpg) no-repeat center; */
    /* background-size: cover; */
    width: 100%;
    height: 100vh;

}

#interface {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;

}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background: var(--fundo-escuro);
}

#logo img {
    display: inline-block;
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}

#areaLogin {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content:center;
    background: linear-gradient(to left, var(--fundo-medio), var(--fundo-escuro));
}

h1 {
    font-size: 4.5em;
    color: white;
    padding-bottom: 50px;
}

#boxLogin {
    border-radius: 25px;
    width: 50%;
    height: 330px;
    background: white;
}

#areaCampos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campos {
    width: 75%;
    height: 45px;
    margin: 20px auto;
    outline: none;
    border: none;
    font-size: 20px;
    color: var(--font-Esc);
}

::-webkit-input-placeholder {
    color: var(--font-Esc);
}

.campos {
    border-bottom: var(--font-Esc) 1.5px solid;
}

#manterConectado {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 75%;
}

#manterConectado label {
    color: var(--font-Esc);
}

#botao {
    width: 75%;
    height: 45px;
    margin: 20px auto;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    background-color: var(--botao);
}

#botao:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

p {
    color: var(--font-Esc);
}

a {
    color: var(--font-Esc);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

@media (max-width: 1000px) {
    #interface {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    #logo {
        display: none;
        opacity: 0;
    }

    #areaLogin {
        width: 100%;
        height: 100vh;
    }

    #boxLogin {
        width: 65%;
    }
}

@media (max-width: 600px) {
    #boxLogin {
        width: 85%;
        height: 370px;
    }
}